/* colors declaration */
$main-bg : #F2F2F2 ; 
$headers-color: #4F4F4F;
$text-color: #828282 ; 
$slider-color:#2F80ED ; 
$bgslider-color: #C4C4C4 ; 
$white:white ; 

/* font faimaly */
$f-faimaly : "Montserrat" , Georgia , serif  ;
$Nf-fainmaly: "Roboto" , Georgia , serif ; 

/* font wieght */
$f-w600 : 600 ; 
$f-w500 : 500 ; 
$f-w700 : 700 ; 
$f-w400 : 400 ; 

/* sizing  */
$max-width: 65.375em;
 